/* Boat.css */
.boat-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.boat-image {
  width: 30%; /* Set the initial width */
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 600px) {
  .boat-image {
    width: 40%; /* Adjust for larger screens */
  }
}

@media (min-width: 1200px) {
  .boat-image {
    width: 25%; /* Adjust for even larger screens */
  }
}
